

@font-face {
  font-family: 'score';
  src: url('./AmericanCaptain.ttf')
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

#game-background
{
    background-image: url('../img/tetris_flags.gif');
    min-width: 640px;
    max-width: 640px;
    min-height: 400px;
    position: relative;
}

#game-grid {
    background: blue;
    position: absolute;
    top: 20px;
    left: 240px;
}

audio {
  display:none;
}

#score-board {
  font-family: 'score';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 163px;
  height: 135px;
  display: flex;
  padding: 15px;
  color: #a30201;
  font-size: 31px;
  justify-content: center;
  background: black;
  border: 6px solid #a30201;
  flex-direction: column;
}

#next-container{
  display: flex;
}